<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Editar perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="salir()" fill="clear">Salir</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-grid fixed>

    </ion-grid>
    <ion-button (click)="guardar()" expand="block" fill="clear">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        guardar
    </ion-button>
</ion-content>