<ion-list lines="none">
    <ion-item button (click)="salir()">
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        <ion-label translate>{{'components.shared.opciones.labelSalir'}}</ion-label>
    </ion-item>
    <ion-item button (click)="descargar()">
        <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
        <ion-label translate>{{'components.shared.opciones.labelDescargar'}}</ion-label>
    </ion-item>
    <ion-item button (click)="cambioIdioma()">
        <ion-icon name="language-outline" slot="start"></ion-icon>
        <ion-select [(ngModel)]="idiomaSeleccionado">
            <ion-select-option value="es-ES">es-ES</ion-select-option>
            <ion-select-option value="en-GB">en-GB</ion-select-option>
        </ion-select>
    </ion-item>
</ion-list>