<ion-card>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6">
                <!-- <img class="imageClass" [src]="atleta.img" /> -->
                <ion-img class="imageClass" [src]="atleta.img"></ion-img>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="editarPerfil()" expand="block" fill="clear">
                    <ion-icon name="settings-outline"></ion-icon>
                    <ion-label class="botonLabel">Editar perfil</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card-header>
        <ion-card-subtitle>{{atleta.email}}</ion-card-subtitle>
        <ion-card-title>{{atleta.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-icon name="body-outline"></ion-icon>
            <ion-label class="perfilLabel">Altura: {{atleta.altura}}cms</ion-label>
            <ion-label class="perfilLabel">Peso: {{atleta.peso}}kg</ion-label>
            <ion-icon *ngIf="atleta.sexo === ''" slot="end" name="male-female-outline"></ion-icon>
            <ion-icon *ngIf="atleta.sexo === 'M'" slot="end" name="male-outline"></ion-icon>
            <ion-icon *ngIf="atleta.sexo === 'F'" slot="end" name="female-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-icon name="calendar-clear-outline"></ion-icon>
            <ion-label class="perfilLabel">F. Nacimiento: {{atleta.fNacimiento | date : 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>