<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Crear
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button class="centerButtons" (click)="nuevoWod()" expand="block" fill="clear">
        <ion-icon slot="start" name="barbell-outline"></ion-icon>
        <ion-label>Nuevo WOD</ion-label>
    </ion-button>
    <ion-button (click)="nuevoRm()" expand="block" fill="clear">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Nuevo RM</ion-label>
    </ion-button>
</ion-content>