<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title translate>
            {{'tab1.titulo'}}
        </ion-title>
        <ion-button slot="end" (click)="nuevoRm()" color="dark" expand="block" fill="clear" shape="round" size="large">
            <ion-icon name="add-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <app-records-list></app-records-list>
</ion-content>
<!-- <app-create-rm-wod></app-create-rm-wod> -->