<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Nombre de Usuario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-card-atleta></app-card-atleta>
    <app-buzon-sugerencias></app-buzon-sugerencias>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-icon class="footerIcon" name="hammer-outline"></ion-icon>
        <ion-label class="footerLabel">Desarrollado por Israel Bejarano en el 2020</ion-label>

    </ion-toolbar>
</ion-footer>