<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Editar perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="salir()" fill="clear">Salir</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" value="atleta.nombre" [(ngModel)]="atletaUpdateData.nombre"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" value="atleta.email" [(ngModel)]="atletaUpdateData.email"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating">F. Nacimiento</ion-label>

                <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="fNacAtletaUpdateData" cancelText="salir" doneText="Aceptar"></ion-datetime>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating">Altura</ion-label>
                <ion-range [(ngModel)]="atletaUpdateData.altura" pin="true" min="50" max="250" color="primary" [value]="atleta.altura">
                    <ion-icon name="body-outline" slot="start"></ion-icon>
                    <ion-badge slot="end">{{atletaUpdateData.altura}} cms</ion-badge>
                </ion-range>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating">Peso</ion-label>
                <ion-range [(ngModel)]="atletaUpdateData.peso" pin="true" step="0.1" ticks="true" min="30" max="200" color="primary" [value]="atleta.peso">
                    <ion-icon name="water-outline" slot="start"></ion-icon>
                    <ion-badge slot="end">{{atletaUpdateData.peso}} kg</ion-badge>
                </ion-range>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating">Sexo</ion-label>
                <ion-select [(ngModel)]="atletaUpdateData.sexo" placeholder="Seleccione uno" cancelText="salir" okText="Aceptar">
                    <ion-select-option value="">Ninguno</ion-select-option>
                    <ion-select-option value="F">Femenino</ion-select-option>
                    <ion-select-option value="M">Masculino</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="guardar()" expand="block" fill="clear">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        guardar
    </ion-button>
</ion-content>