<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title translate>{{'components.editarPerfil.titulo'}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="salir()" fill="clear" translate>{{'components.editarPerfil.btnSalir'}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.editarPerfil.labelNombre'}}</ion-label>
                <ion-input type="text" value="atleta.nombre" [(ngModel)]="atletaUpdateData.nombre"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.editarPerfil.labelEmail'}}</ion-label>
                <ion-input type="text" value="atleta.email" [(ngModel)]="atletaUpdateData.email"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.editarPerfil.labelFNacimiento'}}</ion-label>

                <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="fNacAtletaUpdateData" cancelText="{{'components.editarPerfil.dateTimeFNacimiento.cancelText' | translate}}" doneText="{{'components.editarPerfil.dateTimeFNacimiento.doneText' | translate}}"></ion-datetime>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.editarPerfil.labelAltura'}}</ion-label>
                <ion-range [(ngModel)]="atletaUpdateData.altura" pin="true" min="50" max="250" color="primary" [value]="atleta.altura">
                    <ion-icon name="body-outline" slot="start"></ion-icon>
                    <ion-badge slot="end">{{atletaUpdateData.altura}} cms</ion-badge>
                </ion-range>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.editarPerfil.labelPeso'}}</ion-label>
                <ion-range [(ngModel)]="atletaUpdateData.peso" pin="true" step="0.1" ticks="true" min="30" max="200" color="primary" [value]="atleta.peso">
                    <ion-icon name="water-outline" slot="start"></ion-icon>
                    <ion-badge slot="end">{{atletaUpdateData.peso}} kg</ion-badge>
                </ion-range>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.editarPerfil.labelSexo'}}</ion-label>
                <ion-select [(ngModel)]="atletaUpdateData.sexo" placeholder="{{'components.editarPerfil.selectorSexo.placeholder' | translate}}" cancelText="{{'components.editarPerfil.selectorSexo.cancelText' | translate}}" okText="{{'components.editarPerfil.selectorSexo.okText' | translate}}">
                    <ion-select-option value="">{{'components.editarPerfil.selectorSexo.optNinguno' | translate}}</ion-select-option>
                    <ion-select-option value="F">{{'components.editarPerfil.selectorSexo.optFemenino' | translate}}</ion-select-option>
                    <ion-select-option value="M">{{'components.editarPerfil.selectorSexo.optMasculino' | translate}}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="guardar()" expand="block" fill="clear" translate>
        <ion-icon name="save-outline" slot="start"></ion-icon>
        {{'components.editarPerfil.btnGuardar'}}
    </ion-button>
</ion-content>