<ion-content [fullscreen]="true">
    <ion-img [src]="logoUrl"></ion-img>
    <ion-grid fixed class="custom-grid">
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating">correo:</ion-label>
                <ion-input [(ngModel)]="email" type="email" placeholder="Introduce tu email"></ion-input>
            </ion-col>
            <ion-col size="12">
                <ion-label position="floating">constraseña:</ion-label>
                <ion-input [(ngModel)]="password" type="password" placeholder="Introduce tu contraseña"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item lines="none" button (click)="registrar()">
        <ion-label>¿No tienes cuenta? Regístrate</ion-label>
    </ion-item>
    <ion-item *ngIf="passwordOlvidado" lines="none" button (click)="resetPassword()">
        <ion-label>¿Has olvidado tu contraseña?</ion-label>
    </ion-item>
    <ion-button [disabled]="!email || !password" class="custom-button" (click)="login()" expand="block" fill="clear" shape="round">
        login
    </ion-button>
</ion-content>