<ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
        <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <ion-fab-button color="medium" (click)="nuevoRm()">
            <ion-icon name="trophy-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
        <ion-fab-button color="medium" (click)="nuevoWod()">
            <ion-icon name="barbell-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>