<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title translate>{{'components.newWod.titulo'}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="salir()" fill="clear" translate>{{'components.newWod.btnSalir'}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.newWod.dateTimeFRealizacion.labelFecha'}}</ion-label>
                <ion-datetime (ionChange)="guardarWod(fRealizacion)" display-format="DD/MM/YYYY" [(ngModel)]="fRealizacion" cancelText="{{'components.newWod.dateTimeFRealizacion.cancelText' | translate}}" doneText="{{'components.newWod.dateTimeFRealizacion.doneText' | translate}}"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.newWod.wod.labelWod'}}</ion-label>
                <ion-textarea [(ngModel)]="modeloWod.wod" class="custom-text-area" placeholder="{{'components.newWod.wod.placeholder' | translate}}"></ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.newWod.resultado.labelResultado'}}</ion-label>
                <ion-input type="text" (ionChange)="guardarWod(modeloWod.resultado)" [(ngModel)]="modeloWod.resultado" placeholder="{{'components.newWod.resultado.placeholder' | translate}}"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-label position="floating" translate>{{'components.newWod.observaciones.labelObs'}}</ion-label>
                <ion-textarea [(ngModel)]="modeloWod.observaciones" class="custom-text-area" placeholder="{{'components.newWod.observaciones.placeholder' | translate}}"></ion-textarea>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button [disabled]="!puedeGuardarWod" (click)="guardar()" expand="block" fill="clear">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        {{'components.newWod.btnGuardar' | translate}}
    </ion-button>
</ion-content>